# API URL của Backend VietSeeds Run
VITE_API_URL=http://localhost:3000/api/v1

# Các biến bảo mật Strava (Frontend chỉ lưu Client ID, Secret để ở Backend)
VITE_STRAVA_CLIENT_ID=your_strava_client_id_here
